
ul {
    display: inline-block;
    margin:0;
    padding: 0;
    
}

li {
    height: 50px;
    width:50px;
    background-color: #5775FE;
    list-style-type: none;
    margin: 0;                                                                                 padding: 0;
    border: 1px solid #69F0FF;
}

li.water {
    background: #2C2E6D;
}

li.waterRed {
    background: #129BF7;
}

li.clicked {
    background: blue;
}

li.boated{
    background: grey;
}

li.waterHitClass{
    background-image: Url(https://vectr.com/robertschmid/a6WPMiizH.svg?width=80&height=80&select=a6WPMiizHpage0);
    background-size: cover;
}

li.boatHitClass{
    background-image: Url(https://vectr.com/robertschmid/a1hHsZr5vk.svg?width=80&height=80&select=a1hHsZr5vkpage0);
    background-size: cover;
}
li.shipSunkClass{
    background: #000000;
}
button{
    padding: 10px;
    margin-bottom: 10px;
    background-image: Url(https://vectr.com/robertschmid/e4nQy2CKgz.svg?width=300&height=52&select=e4nQy2CKgzpage0)!important;
    background-size: cover;
    background-repeat: no-repeat;
}
.btn-danger, .btn-primary{
    border: 2px solid black;

}
