<div class="gridDiv">

  <ul id="{{x}}" *ngFor="let col of grille; let x = index">
    <li *ngFor="let cell of col; let y = index" (click)="onItemClicked(x, y)" [ngClass]="getNgClass(cell)">
    </li>
  </ul>
  <div *ngIf="(turnStatus == 1 && gameService.playerNumber == 2)
  || (turnStatus == 2 && gameService.playerNumber == 1)" class="blockThePlayer"></div>
</div>

<div class="div">
  <button *ngIf="!isGridFull && gameService.isMyGrid(gridNumber)" (click)="generatePlayerGrid()" class="btn btn-danger">PLACE YOUR SHIPS!</button>
  <button *ngIf="isGridFull" (click)="resetGrid()" class="btn btn-primary">Reset</button>
  <p>{{square}}</p>
</div>

<hr>
<div *ngIf="(turnStatus == 1 && gameService.playerNumber == 2)
 || (turnStatus == 2 && gameService.playerNumber == 1)" class="blockThePlayer"></div>


<span *ngIf="(turnStatus == 1 && gameService.playerNumber == 2)
|| (turnStatus == 2 && gameService.playerNumber == 1)">turn : {{turnStatus}}</span>